    In this bite you will work with a list of names.
    First you will write a function to take out duplicates and title case them.
    Then you will sort the list in alphabetical descending order by surname and lastly determine what the shortest first name is. For this exercise you can assume there is always one name and one surname.
    With some handy Python builtins you can write this in a pretty concise way. Get it sorted :)

In [1]:
NAMES = ['arnold schwarzenegger', 'alec baldwin', 'bob belderbos',
         'julian sequeira', 'sandra bullock', 'keanu reeves',
         'julbob pybites', 'bob belderbos', 'julian sequeira',
         'al pacino', 'brad pitt', 'matt damon', 'brad pitt']

In [2]:
NAMES1=[]

In [3]:
for x,y in enumerate(NAMES):
    if x == 0:
        NAMES1.append(y)
    elif y not in NAMES1:
        NAMES1.append(y)
NAMES1

['arnold schwarzenegger',
 'alec baldwin',
 'bob belderbos',
 'julian sequeira',
 'sandra bullock',
 'keanu reeves',
 'julbob pybites',
 'al pacino',
 'brad pitt',
 'matt damon']

In [4]:
len(NAMES1)

10

In [5]:
lst=[]
for x in NAMES1:
    lst.append(x.title())
lst

['Arnold Schwarzenegger',
 'Alec Baldwin',
 'Bob Belderbos',
 'Julian Sequeira',
 'Sandra Bullock',
 'Keanu Reeves',
 'Julbob Pybites',
 'Al Pacino',
 'Brad Pitt',
 'Matt Damon']

In [6]:
d = dict(x.split(" ") for x in lst)

for k, v in d.items():
    print(k, v)

Arnold Schwarzenegger
Alec Baldwin
Bob Belderbos
Julian Sequeira
Sandra Bullock
Keanu Reeves
Julbob Pybites
Al Pacino
Brad Pitt
Matt Damon

In [7]:
d.items()

dict_items([('Arnold', 'Schwarzenegger'), ('Alec', 'Baldwin'), ('Bob', 'Belderbos'), ('Julian', 'Sequeira'), ('Sandra', 'Bullock'), ('Keanu', 'Reeves'), ('Julbob', 'Pybites'), ('Al', 'Pacino'), ('Brad', 'Pitt'), ('Matt', 'Damon')])

In [8]:
len(d.keys())

10

In [9]:
d.items()

dict_items([('Arnold', 'Schwarzenegger'), ('Alec', 'Baldwin'), ('Bob', 'Belderbos'), ('Julian', 'Sequeira'), ('Sandra', 'Bullock'), ('Keanu', 'Reeves'), ('Julbob', 'Pybites'), ('Al', 'Pacino'), ('Brad', 'Pitt'), ('Matt', 'Damon')])

In [10]:
# Create a list of tuples sorted by index 1 i.e. value field     
listofTuples = sorted(d.items() , reverse=True, key=lambda x: x[1])
# Iterate over the sorted sequence
for elem in listofTuples :
     print(elem[0] , " " , elem[1])

Julian   Sequeira
Arnold   Schwarzenegger
Keanu   Reeves
Julbob   Pybites
Brad   Pitt
Al   Pacino
Matt   Damon
Sandra   Bullock
Bob   Belderbos
Alec   Baldwin

In [11]:
#https://thispointer.com/python-how-to-sort-a-dictionary-by-key-or-value/

In [12]:
listofTuples

[('Julian', 'Sequeira'),
 ('Arnold', 'Schwarzenegger'),
 ('Keanu', 'Reeves'),
 ('Julbob', 'Pybites'),
 ('Brad', 'Pitt'),
 ('Al', 'Pacino'),
 ('Matt', 'Damon'),
 ('Sandra', 'Bullock'),
 ('Bob', 'Belderbos'),
 ('Alec', 'Baldwin')]

In [13]:
res = [' '.join(tups) for tups in listofTuples]

In [14]:
res

['Julian Sequeira',
 'Arnold Schwarzenegger',
 'Keanu Reeves',
 'Julbob Pybites',
 'Brad Pitt',
 'Al Pacino',
 'Matt Damon',
 'Sandra Bullock',
 'Bob Belderbos',
 'Alec Baldwin']

In [15]:
sorted(d.items() , reverse=True, key=lambda x: x[0])

[('Sandra', 'Bullock'),
 ('Matt', 'Damon'),
 ('Keanu', 'Reeves'),
 ('Julian', 'Sequeira'),
 ('Julbob', 'Pybites'),
 ('Brad', 'Pitt'),
 ('Bob', 'Belderbos'),
 ('Arnold', 'Schwarzenegger'),
 ('Alec', 'Baldwin'),
 ('Al', 'Pacino')]

In [16]:
low=[]
for x in d.keys():
    low.append(len(x))

In [17]:
len(d.keys())

10

In [18]:
d

{'Arnold': 'Schwarzenegger',
 'Alec': 'Baldwin',
 'Bob': 'Belderbos',
 'Julian': 'Sequeira',
 'Sandra': 'Bullock',
 'Keanu': 'Reeves',
 'Julbob': 'Pybites',
 'Al': 'Pacino',
 'Brad': 'Pitt',
 'Matt': 'Damon'}

In [19]:
newlist = d.items()
sortedlist = sorted(newlist, key=lambda s: len(s[0]))

In [20]:
sortedlist

[('Al', 'Pacino'),
 ('Bob', 'Belderbos'),
 ('Alec', 'Baldwin'),
 ('Brad', 'Pitt'),
 ('Matt', 'Damon'),
 ('Keanu', 'Reeves'),
 ('Arnold', 'Schwarzenegger'),
 ('Julian', 'Sequeira'),
 ('Sandra', 'Bullock'),
 ('Julbob', 'Pybites')]

In [21]:
value = [' '.join(tups) for tups in sortedlist]

In [22]:
value[0]

'Al Pacino'

In [23]:
def dedup_and_title_case_names(NAMES):
    """Should return a list of title cased names,
       each name appears only once"""
    NAMES1=[]
    for x,y in enumerate(NAMES):
        if x == 0:
            NAMES1.append(y)
        elif y not in NAMES1:
            NAMES1.append(y)
    NAMES1
    lst=[]
    for x in NAMES1:
        lst.append(x.title())
    return lst


def sort_by_surname_desc():
    """Returns names list sorted desc by surname"""
    names = dedup_and_title_case_names(NAMES)
    d = dict(x.split(" ") for x in names)
    listofTuples = sorted(d.items() , reverse=True, key=lambda x: x[1])
    res = [' '.join(tups) for tups in listofTuples] 
    return res
    


def shortest_first_name():
    """Returns the shortest first name (str).
       You can assume there is only one shortest name.
    """
    names = dedup_and_title_case_names(NAMES)
    d = dict(x.split(" ") for x in names)
    newlist = d.items()
    sortedlist = sorted(newlist, key=lambda s: len(s[0]))
    value = [' '.join(tups) for tups in sortedlist] 
    return value[0]

In [24]:
NAMES = ['arnold schwarzenegger', 'alec baldwin', 'bob belderbos',
         'julian sequeira', 'sandra bullock', 'keanu reeves',
         'julbob pybites', 'bob belderbos', 'julian sequeira',
         'al pacino', 'brad pitt', 'matt damon', 'brad pitt']

In [25]:
shortest_first_name()

'Al Pacino'

In [26]:
sort_by_surname_desc()

['Julian Sequeira',
 'Arnold Schwarzenegger',
 'Keanu Reeves',
 'Julbob Pybites',
 'Brad Pitt',
 'Al Pacino',
 'Matt Damon',
 'Sandra Bullock',
 'Bob Belderbos',
 'Alec Baldwin']

In [27]:
dedup_and_title_case_names()

TypeError: dedup_and_title_case_names() missing 1 required positional argument: 'NAMES'

In [28]:
dedup_and_title_case_names(NAMES)

['Arnold Schwarzenegger',
 'Alec Baldwin',
 'Bob Belderbos',
 'Julian Sequeira',
 'Sandra Bullock',
 'Keanu Reeves',
 'Julbob Pybites',
 'Al Pacino',
 'Brad Pitt',
 'Matt Damon']

In [29]:
d.items()

dict_items([('Arnold', 'Schwarzenegger'), ('Alec', 'Baldwin'), ('Bob', 'Belderbos'), ('Julian', 'Sequeira'), ('Sandra', 'Bullock'), ('Keanu', 'Reeves'), ('Julbob', 'Pybites'), ('Al', 'Pacino'), ('Brad', 'Pitt'), ('Matt', 'Damon')])

In [30]:
help(shortest_first_name)

Help on function shortest_first_name in module __main__:

shortest_first_name()
    Returns the shortest first name (str).
    You can assume there is only one shortest name.